
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <title>HPMA Controller</title>

    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
	  <link rel="stylesheet" href="{{ url_for('static', filename='button.css') }}">
    <script src="https://www.WebRTC-Experiment.com/getScreenId.js"></script>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>



<!--     <script defer src="https://pyscript.net/latest/pyscript.js"></script>
	<py-config>
		paths = [
			"{{ url_for('static', filename='utils.py') }}"
		]
    </py-config>
	<py-repl id="my-repl" auto-generate="true"> </py-repl>
    <py-script src="{{ url_for('static', filename='hpma_controller.py') }}">  </py-script> -->
	

  </head>

  <body class="container">


  <main>
    <section>


    <div >
      <p style="margin:1;display:inline;">  HPMA Controller || </p>
      <p id = "hw_status", style="margin:1;display:inline;"> HW Status: {{status}}, Script Status: {{script_status}} </p>
    </div>

	<div >
    <button id="cur_hw_done" class="bn632-hover bn25" type="submit" onclick="set_hw_status('Getting HW', 'cur_hw_done')">Cur HW Done</button>
    <button id="all_hw_done" class="bn632-hover bn25" type="submit" onclick="set_hw_status('Terminated', 'all_hw_done')">All HW Done</button>
	</div>
	
	<div >
    <button id="script_doing" class="bn632-hover bn25" type="submit" onclick="set_script_status('Doing', 'script_done')">Script Doing</button>
    <button id="script_done" class="bn632-hover bn25" type="submit" onclick="set_script_status('Terminated', 'script_done')">Script Done</button>
	</div>


    </section>
  </main>

  <script>
    function send_json(json_obj){
      var base_url = window.location.origin;
      var xhttp = new XMLHttpRequest();
      xhttp.open("POST", base_url + "/json_handler", false);
      xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

      xhttp.send(JSON.stringify(json_obj));
    }

    function set_hw_status(hw_status, role){
      var json_obj = { "hw_status": hw_status, "role": role }
      send_json(json_obj)
      location.reload()
    }
	
    function set_script_status(hw_status, role){
      var json_obj = { "script_status": hw_status, "role": role }
      send_json(json_obj)
      location.reload()
    }

  </script>
</body>
</html>
