
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <title>HPMA Controller</title>

    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
	<link rel="stylesheet" href="{{ url_for('static', filename='button.css') }}">



<!--     <script defer src="https://pyscript.net/latest/pyscript.js"></script>
	<py-config>
		paths = [
			"{{ url_for('static', filename='utils.py') }}"
		]
    </py-config>
	<py-repl id="my-repl" auto-generate="true"> </py-repl>
    <py-script src="{{ url_for('static', filename='hpma_controller.py') }}">  </py-script> -->
	

  </head>

  <body class="container">


  <main>
    <section>

    <div class="text-center w-full mb-8">
      <h1 class="text-3xl font-bold text-gray-800 uppercase tracking-tight">HPMA Controller || status: {{status}}</h1>
    </div>
	
    <div>
		<form method='post' action={{ url_for('set_cur_hw_got') }}>
			<button id="cur_hw_done" class="bn632-hover bn25" type="submit" py-click="set_cur_hw_got()">Cur Got</button>
		</form>
		  
		<form method='post' action={{ url_for('set_cur_hw_done') }}>
			<button id="cur_hw_done" class="bn632-hover bn25" type="submit" py-click="set_cur_hw_done()">Cur Done</button>
		</form>
		  
		<form method='post' action={{ url_for('set_all_hw_done') }}>
			<button id="all_hw_done" class="bn632-hover bn25" type="submit" py-click="set_all_hw_done()">All Done</button>
		</form>
		
		<form method='post' action={{ url_for('get_hw_status') }}>
			<button id="all_hw_done" class="bn632-hover bn25" type="submit" py-click="get_hw_status()">Get Status</button>
		</form>
		
		<button id="js_test_button" class="bn632-hover bn25" type="submit" onclick="js_test_button_onclick()">JS button</button>
    </div>
	
    <p id="demo">Let AJAX change this text.</p>

    </section>
  </main>

  <script>
    function js_test_button_onclick(){
      var xhttp = new XMLHttpRequest();
      xhttp.open("POST", "http://127.0.0.1:5000/json_handler", false);
      xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
      xhttp.send(JSON.stringify({ "email": "hello@user.com", "response": { "name": "Tester" } }));
      document.getElementById("demo").innerHTML = xhttp.responseText;
    }

  </script>
</body>
</html>
